---
import { BannerConfig } from "../config/banner"
---

<div class="banner">
    <div class="height-[100px]">
        <h1>
            <a href="/">{BannerConfig.heading}</a>
        </h1>
        <h2 class="">{BannerConfig.subheading}</h2>
    </div>
</div>
