body {
    @apply bg-[#080303] m-0 w-full h-full pt-[100px];
    font-family: "Merriweather", serif;
}

.container {
    @apply w-[68%] mx-auto overflow-hidden;
}

.banner {
    @apply text-center flex items-center justify-center h-[600px];
}

.banner h1 {
    @apply text-center text-[120px] font-black bg-gradient-to-r from-stone-900 to-stone-600 bg-clip-text text-transparent;
}

.banner h2{
    @apply text-4xl text-stone-700;
}

.bar {
    /* @apply h-[5px] bg-gradient-to-r from-red-500 to-orange-500; */
}

.post {
    @apply bg-white mb-[100px];
    min-height: 600px;
}

.featured-image {
    @apply w-full h-auto;
    /* margin-bottom: 30px; */
}

article {
    @apply px-40;
}

article h1 {
    @apply px-[50px] text-[50px] text-center mt-20 bg-gradient-to-r from-stone-800 to-stone-500 bg-clip-text text-transparent;
    font-weight: 500;
    font-style: normal;
}

article main {
    @apply pb-20 text-[24px] leading-relaxed text-[#3c362e];
    font-weight: 400;
    font-style: normal;
}

article main p {
    @apply my-5;
}

article pre {
    /* background-color: transparent !important; */
    @apply py-5;
}

main a {
    @apply underline;
}

main a:hover {
    @apply text-red-500;
}

footer {
    @apply pb-20;
}

footer p:nth-child(1) {
    @apply text-stone-800 text-lg;
}

footer p:nth-child(2) {
    @apply text-stone-800 text-lg;
}

footer a:hover {
    @apply text-red-500;
}

footer p:nth-child(2) span {
    @apply pl-3;
}
