---
import { getCollection } from "astro:content"
import {addSlug, sortByDate} from "../../lib/util"
import { PaginationConfig } from "../../config/pagination"

import Layout from "../../layouts/Layout.astro"
import Banner from "../../components/Banner.astro"
import Posts from "../../components/Posts.astro"
import Pagination from "../../components/Pagination.astro"


export async function getStaticPaths() {
    const posts = await getCollection("posts")
    const total = posts.length
    const totalPages = Math.ceil(total / PaginationConfig.perPage)
    const paths = Array.from({ length: totalPages }, (_, i) => ({
        params: { page: (i + 1) },
        props :{posts: posts.slice(i * PaginationConfig.perPage, (i + 1) * PaginationConfig.perPage), total: totalPages},
    }))
    console.log(paths)
    return paths
}

const {page} = Astro.params
const {posts, total} = Astro.props
addSlug(posts)

const shouldDisplay = page == 1 ? false : true
---

<Layout>
	<div class="container mx-auto">
		<div class="post">
			<Banner />
		</div>
		<Posts posts={posts} />
        <Pagination current={page} total={total} />
	</div>
</Layout>
